.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
   
}

rect.selection {
  fill: transparent;
  stroke-dasharray: 3px;
  stroke: black;
  stroke-width: 2px;
}
 
 
.selected {
   stroke: blue;
   stroke-width: 5;
   stroke-dasharray: 3;
}

.active {
  border:3px solid grey; 
  background-color: grey;
  color: white; 
}

body, html {height:100%;}
div.wrap {height:100%; overflow:hidden;}

.menu {
  float:up;
}

.contentBox {
  height : 680px;
  border:30px solid #FF6000;
}

.margin {
  border: 10px solid white;
}

.slider {
  width: 605px; 
  overflow: hidden;
  position : relative;

}

.slider.left {
  height: 504px;
}

.slider.right {
  height: 504px;

}

.slider > ul {
  /* styled by JS to match the added width and height of all <li>’s */
  position: relative;
  -webkit-transition: 0.5s left;
  -moz-transition: 0.5s left;
  -ms-transition: 0.5s left;
  -o-transition: 0.5s left;
	width:400%;
  list-style: none;
  margin: 0; padding: 0;
}

.slider ul li {
  float: left;
  width: 17.67%;
}

.slider.left > ul > li {
  height: 504px;
}

.slider.right > ul > li {
	min-width: 10%; 
	
}

.headerSlider, .headerBox {
  height : 8%;
  display: flex; 
  justify-content: center;
  align-items: center; 
  font-size : 200%; 
  margin-bottom : 0; 
  margin-top: 0; 
}

.bodySlider {
  border-top : 2px solid black;
  border-bottom : 2px solid black;
  height : 81%;
}

.graphBox {
  height : 470px;
}


.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}
.style-1{
  position: absolute;
  display: block;
  margin: 0;
  width: 31%;
  left:35%;
  top:35%;
  padding: 15px;
  border: 5px solid white;
   border-style:dashed;
   border-dasharray:3px;
  z-index: 11;
}
input[type="text"] {
 
  margin: 0;  
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
input[type="text"]:focus {
  outline: none;
}

.style-1 input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 15px 10px #e4e4e4;
}

#choice {
	border-radius: 5px;
    border: 0;
    width: 80px;
    height:25px;
    font-family: Tahoma;

}
